@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: bold;
}
