.heading {
  font-size: 3.5rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  text-align: center;
  background-image: linear-gradient(to right, #a0e4dc, #3cc5ed);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(black, 0.2);
  }
}
